<div class="hc-container split">
  <div class="hc-item" style="flex:initial;">
    <div class="hc-row item-title">Maptiks Trackcode</div>
    <div class="hc-row">
      <input type="text" value="{{maptiks_trackcode}}" class="hc-text-input truncated maptiks-trackcode-title" id="maptiks-trackcode">
    </div>
  </div>
  <div class="hc-item" style="flex:initial;">
    <div class="hc-row item-title">Maptiks ID</div>
    <div class="hc-row" data-toggle="tooltip" title="Maptiks ID">
      <input type="text" value="{{maptiks_id}}" class="hc-text-input" id="maptiks-id">
    </div>
  </div>
  
</div>
